<template>
  <div>
    <!-- Header: Personal Info -->
    <div class="d-flex">
      <feather-icon icon="UserIcon" size="19" />
      <h4 class="mb-0 ml-50">Datos cliente</h4>
    </div>

    <!-- Form: Personal Info Form -->
    <validation-observer ref="simpleRules">
      <b-form class="mt-1">
        <b-row>
          <!-- Field: rutcliente -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="Rut Cliente" label-for="rutcliente">
              <validation-provider
                #default="{ errors }"
                name="Rut"
                rules="required|integer"
              >
                <b-form-input
                  v-model="rutCliente"
                  id="rutcliente"
                  :state="errors.length > 0 ? false : null"
                />
                <small class="text-danger">{{
                  errors[0] ? "Formato de RUT Inválido" : ""
                }}</small>
                <!-- span class="text-danger text-sm" v-show="errors.has('first_name')">{{ errors.first('first_name') }}</span -->
              </validation-provider>
            </b-form-group>
          </b-col>

          <!-- Field: razon social -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="Razón Social" label-for="razonsocial">
              <validation-provider
                #default="{ errors }"
                name="RazonSocial"
                rules="required"
              >
                <b-form-input
                  id="razonsocial"
                  v-model="razonSocial"
                  :state="errors.length > 0 ? false : null"
                />
                <small class="text-danger">{{
                  errors[0] ? "Formato inválido" : ""
                }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>

          <!-- Field: Direccion -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="Dirección" label-for="direccion">
              <validation-provider
                #default="{ errors }"
                name="Direccion"
                rules="required"
              >
                <b-form-input
                  v-model="addressCliente"
                  id="direccion"
                  :state="errors.length > 0 ? false : null"
                />
                <small class="text-danger">{{
                  errors[0] ? "Campo Requerido" : ""
                }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>

          <!-- Field: Giro -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="Giro" label-for="giro">
              <validation-provider
                #default="{ errors }"
                name="Giro"
                rules="required"
              >
                <b-form-input
                  v-model="giroCliente"
                  id="giro"
                  :state="errors.length > 0 ? false : null"
                />
                <small class="text-danger">{{
                  errors[0] ? "Campo Requerido" : ""
                }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>

          <!-- Field: Telefono -->
          <b-col cols="12" md="6" lg="4">
            <b-form-group label="Telefono" label-for="telefono">
              <validation-provider
                #default="{ errors }"
                name="Telefono"
                rules="required|integer"
              >
                <b-form-input
                  v-model="phonoCliente"
                  id="telefono"
                  :state="errors.length > 0 ? false : null"
                />
                <small class="text-danger">{{
                  errors[0] ? "Campo Requerido" : ""
                }}</small>
              </validation-provider>
            </b-form-group>
          </b-col>

          <!-- Field: email -->

          <b-col cols="12" md="6" lg="4">
            <validation-provider
              #default="{ errors }"
              name="Email"
              rules="required|email"
            >
              <b-form-group label="Email" label-for="email">
                <b-form-input
                  v-model="emailCliente"
                  id="email"
                  :state="errors.length > 0 ? false : null"
                />
                <small class="text-danger">{{
                  errors[0] ? "Formato Inválido." : ""
                }}</small>
              </b-form-group>
            </validation-provider>
          </b-col>

          <b-col cols="12">
            <div ref="form" class="repeater-form">
              <b-row
                ref="row"
                class="pb-2"
                v-for="(item, index) in invoiceData.items"
                :key="index"
              >
                <b-col cols="12">
                  <div class="d-flex p-2 border rounded">
                    <b-col cols="12" md="6" lg="4">
                      <b-form-group
                        label="Rut Representante Legal"
                        label-for="rut"
                      >
                        <validation-provider
                          #default="{ errors }"
                          name="Rut"
                          rules="required|integer"
                        >
                          <b-form-input
                            id="rut"
                            v-model="item.rut"
                            :state="errors.length > 0 ? false : null"
                          />
                          <small class="text-danger">{{
                            errors[0] ? "Formato Inválido." : ""
                          }}</small>
                        </validation-provider>
                      </b-form-group>
                    </b-col>

                    <b-col cols="12" md="2" lg="2">
                      <b-form-group
                        label="Telefono Representante Legal"
                        label-for="telefono"
                      >
                        <validation-provider
                          #default="{ errors }"
                          name="Telefono"
                          rules="required|integer"
                        >
                          <b-form-input
                            id="telefono"
                            v-model="item.telefono"
                            :state="errors.length > 0 ? false : null"
                          />
                          <small class="text-danger">{{
                            errors[0] ? "Formato Inválido." : ""
                          }}</small>
                        </validation-provider>
                      </b-form-group>
                    </b-col>

                    <b-col cols="12" md="2" lg="2">
                      <b-form-group
                        label="Email Representante Legal"
                        label-for="email"
                      >
                        <validation-provider
                          #default="{ errors }"
                          name="Email"
                          rules="required|email"
                        >
                          <b-form-input
                            id="email"
                            v-model="item.email"
                            :state="errors.length > 0 ? false : null"
                          />
                          <small class="text-danger">{{
                            errors[0] ? "Formato Inválido." : ""
                          }}</small>
                        </validation-provider>
                      </b-form-group>
                    </b-col>

                    <b-col cols="12" md="3" lg="3">
                      <b-form-group label="Clave SII" label-for="clave_sii">
                        <validation-provider
                          #default="{ errors }"
                          name="Clave SII"
                          rules="required|integer"
                        >
                          <b-form-input
                            id="clave_sii"
                            v-model="item.clave_sii"
                            :state="errors.length > 0 ? false : null"
                          />
                          <small class="text-danger">{{
                            errors[0] ? "Formato Inválido." : ""
                          }}</small>
                        </validation-provider>
                      </b-form-group>
                    </b-col>

                    <feather-icon
                      size="16"
                      icon="XIcon"
                      class="cursor-pointer"
                      @click="eliminarItem(index)"
                    />
                  </div>
                </b-col>
              </b-row>
            </div>
            <b-button
              v-ripple.400="'rgba(255, 255, 255, 0.15)'"
              size="sm"
              variant="primary"
              class="float-right"
              @click="agregarNuevoItem"
            >
              + Agregar nuevo
            </b-button>
          </b-col>
        </b-row>

        <!-- Form: Personal Info Form -->
        <b-row class="mt-1"> </b-row>

        <b-row class="mt-2">
          <b-col>
            <b-button
              variant="primary"
              class="mb-1 mb-sm-0 mr-0 mr-sm-1"
              :block="$store.getters['app/currentBreakPoint'] === 'xs'"
              @click.prevent="guadrarDatos"
              v-model="dialogSuccess"
            >
              Guardar
            </b-button>
            <b-modal
              id="modal-success"
              ok-only
              ok-variant="success"
              ok-title="Accept"
              modal-class="modal-success"
              centered
              v-model="dialogSuccess"
            >
              <b-card-text> "CLIENTE CREADO CON EXITO!" </b-card-text>
            </b-modal>

            <b-button
              variant="outline-secondary"
              :block="$store.getters['app/currentBreakPoint'] === 'xs'"
              @click="clearForm"
            >
              Reset
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </div>
</template>

<script>
import {
  BRow,
  BCol,
  BForm,
  BFormGroup,
  BFormInput,
  BFormRadioGroup,
  BFormCheckboxGroup,
  BButton,
  VBToggle,
  BCard,
  BCardBody,
  BCardText,
  VBModal,
} from "bootstrap-vue";
import flatPickr from "vue-flatpickr-component";
import { ref, onUnmounted } from "@vue/composition-api";
import axios from "axios";
import Ripple from "vue-ripple-directive";
import store from "@/store";
import vSelect from "vue-select";
import invoiceStoreModule from "../invoiceStoreModule";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { required, email, esRequerido } from "@validations";

export default {
  components: {
    BCard,
    BCardBody,
    BCardText,
    BRow,
    BCol,
    BForm,
    BFormGroup,
    flatPickr,
    BFormInput,
    vSelect,
    BFormRadioGroup,
    BFormCheckboxGroup,
    BButton,
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      rutCliente: "",
      razonSocial: "",
      addressCliente: "",
      giroCliente: "",
      phonoCliente: "",
      emailCliente: "",

      dialogSuccess: false,
      arrayRepre: [],
      rutRule: [
        (v) => !!v || "Campo requerido",
        (v) =>
          (v && v.length >= 6) || "El campo debe tener al menos  6 caracteres",
      ],
      razonRule: [
        (v) => !!v || "Campo requerido",
        (v) =>
          (v && v.length >= 6) || "El campo debe tener al menos  6 caracteres",
      ],
      direccionRule: [
        (v) => !!v || "Campo requerido",
        (v) =>
          (v && v.length >= 6) || "El campo debe tener al menos  6 caracteres",
      ],
      giroRule: [
        (v) => !!v || "Campo requerido",
        (v) =>
          (v && v.length >= 6) || "El campo debe tener al menos  6 caracteres",
      ],
      telefonoRule: [
        (v) => !!v || "Campo requerido",
        (v) =>
          (v && v.length >= 6) || "El campo debe tener al menos  6 caracteres",
      ],
      emailRules: [
        (v) => !v || /.+@.+\..+/.test(v) || "E-mail debe ser válido",
      ],
    };
  },
  directives: {
    Ripple,
    "b-toggle": VBToggle,
    "b-modal": VBModal,
  },

  methods: {
    guadrarDatos() {
      let that = this;
      this.$refs.simpleRules.validate().then((success) => {
        if (success) {
          let bodySent = {
            rut: that.rutCliente,
            razonsocial: that.razonSocial,
            direccion: that.addressCliente,
            giro: that.giroCliente,
            telefono: that.phonoCliente,
            email: that.emailCliente,
            representantes: that.invoiceData.items,

            // https://us-central1-apiblueclientes.cloudfunctions.net/userapiblue/api/clientes/crear
          };
          var configWekiper = {
            method: "post",
            url: "https://us-central1-apiblueclientes.cloudfunctions.net/userapiblue/api/clientes/crear",
            headers: {
              // "access-user":
              // "access-key":
              // Authorization: "Basic Og==",
              // "Content-Type": "application/json",
            },
            data: bodySent,
          };
          console.log("envio a Wekiper");
          console.log(bodySent);
          axios(configWekiper)
            .then((response) => {
              this.dialogSuccess = true;
              console.log("Status:", response);

              console.log("Body:", response.data.user.razonsocial);
              console.log("todo ok  + status 200");
              that.rutCliente = "";
              that.razonSocial = "";
              that.addressCliente = "";
              that.giroCliente = "";
              that.phonoCliente = "";
              that.emailCliente = "";
            })
            .catch((response) => {
              console.log("Error!");
              console.log(response);
            });
        }
      });
    },
    clearForm() {
      this.rutCliente = "";
      this.razonSocial = "";
      this.addressCliente = "";
      this.giroCliente = "";
      this.phonoCliente = "";
      this.emailCliente = "";
      
    },
    eliminarItem(index) {
      this.invoiceData.items.splice(index, 1);
    },
    agregarNuevoItem() {
      console.log("-----------------");
      console.log(this.itemFormBlankItem);
      this.invoiceData.items.push(
        JSON.parse(JSON.stringify(this.itemFormBlankItem))
      );
    },
    addNewItemInItemForm() {
      console.log("-----------------");
      console.log(this.itemFormBlankItem);
      this.$refs.form.style.overflow = "hidden";
      this.invoiceData.items.push(
        JSON.parse(JSON.stringify(this.itemFormBlankItem))
      );

      this.$nextTick(() => {
        this.trAddHeight(this.$refs.row[0].offsetHeight);
        setTimeout(() => {
          this.$refs.form.style.overflow = null;
        }, 350);
      });
    },
    removeItem(index) {
      this.invoiceData.items.splice(index, 1);
      this.trTrimHeight(this.$refs.row[0].offsetHeight);
    },
  },
  setup() {
    const userDataInfo = ref({
      dob: null,
      mobile: "+6595895857",
      website: "https://rowboat.com/insititious/Angelo",
      language: "French",
      gender: "female",
      contactOptions: ["Email", "Message"],
      addressLine1: "A-65, Belvedere Streets",
      addressLine2: "",
      postcode: "",
      city: "New York",
      state: "",
      country: "",
    });

    const languageOptions = [
      "English",
      "Spanish",
      "French",
      "Russian",
      "German",
      "Arabic",
      "Sanskrit",
    ];

    const genderOptions = [
      { text: "Male", value: "male" },
      { text: "Female", value: "female" },
    ];

    const itemFormBlankItem = {
      rut: "",
      telefono: "",
      email: "",
      clave_sii: "",
    };

    const contactOptionsOptions = ["Email", "Message", "Phone"];

    const invoiceData = ref({
      id: 5037,
      rutCliente: "",
      razonSocial: "",
      direccionCliente: "",
      giro: "",
      telefonoCliente: "",
      emailCliente: "",
      client: null,

      // ? Set single Item in form for adding data
      items: [JSON.parse(JSON.stringify(itemFormBlankItem))],
      blaa: "",
      salesPerson: "",
      note: "It was a pleasure working with you and your team. We hope you will keep us in mind for future freelance projects. Thank You!",
      paymentMethod: null,
    });

    return {
      esRequerido,
      required,
      email,
      userDataInfo,
      languageOptions,
      genderOptions,
      contactOptionsOptions,
      invoiceData,
      itemFormBlankItem,
      items: [JSON.parse(JSON.stringify(itemFormBlankItem))],
    };
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/vue-flatpicker.scss";
</style>
