<template>
  <div>
    <!-- <user-list-add-new
      :is-add-new-user-sidebar-active.sync="isAddNewUserSidebarActive"
      :role-options="roleOptions"
      :plan-options="planOptions"
      @refetch-data="refetchData"
    /> -->

    <!-- Filters -->
    <!-- <users-list-filters
      :role-filter.sync="roleFilter"
      :plan-filter.sync="planFilter"
      :status-filter.sync="statusFilter"
      :role-options="roleOptions"
      :plan-options="planOptions"
      :status-options="statusOptions"
    /> -->

    <!-- Table Container Card -->
    <b-card no-body class="mb-0">
      <div class="m-2">
        <!-- Table Top -->
        <b-row>
          <!-- Per Page -->
          <b-col
            cols="12"
            md="6"
            class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
          >
            <label>Cantidad de</label>
            <v-select
              v-model="perPageWekiper"
              :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
            />
            <label>Registros</label>
          </b-col>

          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-end">
              <b-form-input
                v-model="filter"
                class="d-inline-block mr-1"
                placeholder="Buscar..."
              />
              <b-button variant="primary" @click="modalCliente = true">
                <span class="text-nowrap">Agregar Cliente</span>
              </b-button>
            </div>
          </b-col>
        </b-row>
      </div>

      <b-table
        :per-page="perPageWekiper"
        :fields="fields"
        :filter="filter"
        :filter-included-fields="filterOn"
        @filtered="onFiltered"
        :headers="headers"
        :items="dataCliente"
        class="elevation-1"
        @row-clicked="selectTodo"
        striped
        hover
        responsive
      >
        <!-- Column: User -->
        <template #cell(razonsocial)="data">
          <b-media vertical-align="center">
            <template #aside>
              <b-avatar
                size="32"
                :src="data.item.razonsocial"
                :text="avatarText(data.item.razonsocial)"
              />
            </template>
            <b-link
              @click="selectTodo(data.item)"
              class="font-weight-bold d-block text-nowrap"
            >
              {{ data.item.razonsocial }}
            </b-link>
            <small class="text-muted">@{{ data.item.razonsocial }}</small>
          </b-media>
        </template>

        <!-- Column: Role -->
        <template #cell(role)="data">
          <div class="text-nowrap">
            <feather-icon
              :icon="resolveUserRoleIcon(data.item.role)"
              size="18"
              class="mr-50"
              :class="`text-${resolveUserRoleVariant(data.item.role)}`"
            />
            <span class="align-text-top text-capitalize">{{
              data.item.role
            }}</span>
          </div>
        </template>

        <!-- Column: Status -->
        <template #cell(rut)="data">
          <b-link
            @click="selectTodo(data.item)"
            class="font-weight-bold d-block text-nowrap"
          >
            <b-badge
              pill
              :variant="`light-${resolveUserStatusVariant(data.item.rut)}`"
              class="text-capitalize"
            >
              {{ data.item.rut }}
            </b-badge>
          </b-link>
        </template>

        <!-- Column: Actions -->
        <template #cell(actions)="data">
          <b-dropdown
            variant="link"
            no-caret
            :right="$store.state.appConfig.isRTL"
          >
            <template #button-content>
              <feather-icon
                icon="MoreVerticalIcon"
                size="16"
                class="align-middle text-body"
              />
            </template>
            <b-dropdown-item
              :to="{ name: 'apps-users-view', params: { id: data.item.id } }"
            >
              <feather-icon icon="FileTextIcon" />
              <span class="align-middle ml-50">Details</span>
            </b-dropdown-item>

            <b-dropdown-item
              :to="{ name: 'apps-users-edit', params: { id: data.item.id } }"
            >
              <feather-icon icon="EditIcon" />
              <span class="align-middle ml-50">Edit</span>
            </b-dropdown-item>

            <b-dropdown-item>
              <feather-icon icon="TrashIcon" />
              <span class="align-middle ml-50">Delete</span>
            </b-dropdown-item>
          </b-dropdown>
        </template>
      </b-table>
      <div>
        <b-sidebar
          id="sidebar-right"
          bg-variant="white"
          right
          backdrop
          shadow
          width="800px"
          v-model="barData"
        >
          <div
            class="
              customizer-section
              d-flex
              justify-content-between
              align-items-center
            "
          ></div>
          <div>
            <b-form class="mt-1">
              <b-col cols="12" md="10" lg="10">
                <b-tabs content-class="pt-1" fill>
                  <b-tab title="Antecedentes">
                    <b-row class="mt-2">
                      <b-col>
                        <b-button
                          variant="primary"
                          class="mb-1 mb-sm-0 mr-0 mr-sm-1"
                          :block="
                            $store.getters['app/currentBreakPoint'] === 'xs'
                          "
                        >
                          Guardar
                        </b-button>

                        <b-button
                          variant="outline-secondary"
                          :block="
                            $store.getters['app/currentBreakPoint'] === 'xs'
                          "
                        >
                          Reset
                        </b-button>
                      </b-col>
                    </b-row>
                    <br />
                    <br />
                    <div>
                      <h4 class="text-uppercase mb-0">Datos de Cliente</h4>
                    </div>
                    <br />
                    <div>
                      <!-- default label -->
                      <b-card>
                        <b-form-group
                          label-cols="2"
                          label-cols-lg="2"
                          label="Razón Social"
                          label-for="input-default"
                        >
                          <b-form-input v-model="razonsocial" />
                        </b-form-group>
                        <!-- large label  -->
                        <b-form-group
                          label-cols="4"
                          label-cols-lg="2"
                          label-size="lg"
                          label="RUT"
                          label-for="input-lg"
                        >
                          <b-form-input id="input-lg" size="lg" v-model="rut" />
                        </b-form-group>

                        <!-- default label -->
                        <b-form-group
                          label-cols="2"
                          label-cols-lg="2"
                          label="Giro:"
                          label-for="input-default"
                        >
                          <b-form-input v-model="giro" />
                        </b-form-group>
                        <!-- default label -->
                        <b-form-group
                          label-cols="2"
                          label-cols-lg="2"
                          label="Dirección:"
                          label-for="input-default"
                        >
                          <b-form-input v-model="direccion" />
                        </b-form-group>
                        <b-form-group
                          label-cols="2"
                          label-cols-lg="2"
                          label="Teléfono:"
                          label-for="input-default"
                        >
                          <b-form-input v-model="telefono" />
                        </b-form-group>
                        <b-form-group
                          label-cols="2"
                          label-cols-lg="2"
                          label="Email:"
                          label-for="input-default"
                        >
                          <b-form-input v-model="email" />
                        </b-form-group>
                      </b-card>
                      <br />

                      <div>
                        <h4 class="text-uppercase mb-0">Representantes</h4>
                      </div>
                      <br />
                      <b-card v-for="dato in rutRepre" :key="dato.rut">
                        <b-form-group
                          label-cols="2"
                          label-cols-lg="2"
                          label="RUT:"
                          label-for="input-default"
                        >
                          <b-form-input v-model="dato.rut" />
                        </b-form-group>
                        <b-form-group
                          label-cols="2"
                          label-cols-lg="2"
                          label="TELEFONO:"
                          label-for="input-default"
                        >
                          <b-form-input v-model="dato.telefono" />
                        </b-form-group>
                        <b-form-group
                          label-cols="2"
                          label-cols-lg="2"
                          label="EMAIL:"
                          label-for="input-default"
                        >
                          <b-form-input v-model="dato.email" />
                        </b-form-group>
                        <b-form-group
                          label-cols="2"
                          label-cols-lg="2"
                          label="CLAVE_SII:"
                          label-for="input-default"
                        >
                          <b-form-input v-model="dato.clave_sii" />
                        </b-form-group>
                      </b-card>
                    </div>
                  </b-tab>

                  <b-tab active title="Archivos">
                    <b-card-text> Archivos </b-card-text>
                    <b-card-text> Archivos2 </b-card-text>
                  </b-tab>
                  <b-tab title="Facturación">
                    <b-card-text> Facturación </b-card-text>
                    <b-card-text> Facturacion2 </b-card-text>
                  </b-tab>
                </b-tabs>
              </b-col>
            </b-form>
          </div>
        </b-sidebar>
      </div>
      <div class="mx-2 mb-2">
        <b-row>
          <!-- Pagination -->
          <b-col
            cols="12"
            sm="6"
            class="
              d-flex
              align-items-center
              justify-content-center justify-content-sm-end
            "
          >
            <b-pagination
              v-model="currentPage"
              :total-rows="totalUsers"
              :per-page="perPage"
              first-number
              last-number
              class="mb-0 mt-1 mt-sm-0"
              prev-class="prev-item"
              next-class="next-item"
            >
              <template #prev-text>
                <feather-icon icon="ChevronLeftIcon" size="18" />
              </template>
              <template #next-text>
                <feather-icon icon="ChevronRightIcon" size="18" />
              </template>
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
    <b-modal hide-footer size="xl" v-model="modalCliente">
      <AgregarCliente />
    </b-modal>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BForm,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  BSidebar,
  VBToggle,
  BFormGroup,
  BTabs,
  BTab,
  BCardText,
} from "bootstrap-vue";
import vSelect from "vue-select";
import store from "@/store";
import { ref, onUnmounted } from "@vue/composition-api";
import { avatarText } from "@core/utils/filter";
import UsersListFilters from "./UsersListFilters.vue";
import useUsersList from "./useUsersList";
import userStoreModule from "../userStoreModule";
import UserListAddNew from "./UserListAddNew.vue";
import AgregarCliente from "./AgregarCliente.vue";
import Ripple from "vue-ripple-directive";
import axios from "@axios";
export default {
  data() {
    return {
      modalCliente: false,
      rut: "",
      rutRepre: "",
      razonsocial: "",
      email: "",
      telefono: "",
      giro: "",
      direccion: "",
      page: 0,
      perPage: 2,
      totalPassengers: 0,
      numberOfPages: 5,
      dataCliente: [],
      updateCliente: [],
      loading: true,
      barData: true,
      options: {},
      perPageWekiper: 5,
      fields: ["rut", "razonsocial", "email", "telefono"],
      filter: null,
      filterOn: [],
      search: "",
      headers: [
        { text: "RutCLiente", value: "rut" },
        { text: "Razón Social", value: "razonsocial" },
        { text: "Dirección", value: "direccion" },
        { text: "Email", value: "email" },
        { text: "Giro", value: "giro" },
      ],
    };
  },
  components: {
    UsersListFilters,
    UserListAddNew,
    AgregarCliente,
    BForm,
    BTabs,
    BTab,
    BCardText,
    BFormGroup,
    BSidebar,
    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,

    vSelect,
  },
  directives: {
    "b-toggle": VBToggle,
    Ripple,
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => ({ text: f.label, value: f.key }));
    },
  },
  mounted() {
    // Set the initial number of items
  },
  setup() {
    const USER_APP_STORE_MODULE_NAME = "app-user";

    // Register module
    if (!store.hasModule(USER_APP_STORE_MODULE_NAME))
      store.registerModule(USER_APP_STORE_MODULE_NAME, userStoreModule);

    // UnRegister on leave
    onUnmounted(() => {
      if (store.hasModule(USER_APP_STORE_MODULE_NAME))
        store.unregisterModule(USER_APP_STORE_MODULE_NAME);
    });

    const isAddNewUserSidebarActive = ref(false);

    const roleOptions = [
      { label: "Admin", value: "admin" },
      { label: "Author", value: "author" },
      { label: "Editor", value: "editor" },
      { label: "Maintainer", value: "maintainer" },
      { label: "Subscriber", value: "subscriber" },
    ];

    const planOptions = [
      { label: "Basic", value: "basic" },
      { label: "Company", value: "company" },
      { label: "Enterprise", value: "enterprise" },
      { label: "Team", value: "team" },
    ];

    const statusOptions = [
      { label: "Pending", value: "pending" },
      { label: "Active", value: "active" },
      { label: "Inactive", value: "inactive" },
    ];

    const {
      fetchUsers,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    } = useUsersList();

    return {
      // Sidebar
      isAddNewUserSidebarActive,

      fetchUsers,
      tableColumns,
      perPage,
      currentPage,
      totalUsers,
      dataMeta,
      perPageOptions,
      searchQuery,
      sortBy,
      isSortDirDesc,
      refUserListTable,
      refetchData,

      // Filter
      avatarText,

      // UI
      resolveUserRoleVariant,
      resolveUserRoleIcon,
      resolveUserStatusVariant,

      roleOptions,
      planOptions,
      statusOptions,

      // Extra Filters
      roleFilter,
      planFilter,
      statusFilter,
    };
  },

  async created() {
    this.barData = false;
    axios
      .get(
        "https://us-central1-apiblueclientes.cloudfunctions.net/userapiblue/api/clientes/getClientes"
      )
      .then((response) => {
        //Then injecting the result to datatable parameters.
        this.loading = false;
        this.dataCliente = response.data.result;
        console.log("LO QUE RECIBO", this.dataCliente);
      });
  },

  methods: {
    selectTodo(item) {
      this.barData = true;
      this.updateCliente = item;
      this.rut = item.rut;
      this.razonsocial = item.razonsocial;
      this.giro = item.giro;
      this.direccion = item.direccion;
      this.email = item.email;
      this.telefono = item.telefono;
      this.rutRepre = item.representantes;
      console.log("item", item);
    },
    
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
  },
};
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}
</style>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
